<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name = "viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/register.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/836273e257.js" crossorigin="anonymous"></script>
              
  </head>

  <body>

    <header>

      <section id='primeraSeccion'>
        <img id='logo' width='150px' src = "/images/logo-mercado-liebre.svg">
        
        <div id='search'>
          <input id='searchBox' placeholder="Buscar productos, marcas y más..."></input> 
          <i id='lupa' class="fas fa-search fa-sm"></i>
        </div>
        <div id='compra'>
          <i id='iconoCompra' class="fas fa-hand-holding-usd fa5x"></i>
          <p class="compra">Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
      </section>
      

      <section id="segundaSeccion">
        <div>
          <i id='iconoMenu' class="fas fa-bars fa-1x"></i>
        </div>
      </section>  

      
        
      <section id='terceraSeccion'>
          <ul type="none">
            <li><a href = "/ofertas">Ofertas</a></li>
            <li><a href = "/tiendasOficiales">Tiendas Oficiales</a></li>
            <li><a href = "/vender">Vender</a></li>
            <li><a href = "/ayuda">Ayuda</a></li>
          </ul>

          <ul type="none">
            <li><a href = "/register">Crea tu cuenta  </a><i id='iconoHead'></i></li>
            <li><a href = "/login">Ingresa  </a><i id='iconoHead'></i></li>
            <li><a href = "/misCompras">Mis compras  </a><i id='iconoHead'></i></li>
          </ul> 
      </section>  

    </header></header>
    
    <main>
      <form action = "/" method = "GET">
          
        <section>
          <input type="text" placeholder="Nombre y apellido" name="nombre"> <br> <!--Nombre y Apellido-->
          <input type="text" placeholder="Nombre de usuario" name="user"><br> <!--Nombre de Usuario-->
          <input type="email" placeholder="E-mail" name="email"> <br> <!--Email-->
        </section>
        <section>
          <label for = "fecha"> Fecha de Nacimiento </label><br> <!--Fecha de Nacimiento-->
          <input type="date" name="fecha"> <br>
        </section>
        <section>
          <input type = "text" placeholder="Domicilio" name = "domicilio"><br> <!--Domicilio-->
        </section>
        <section>
          <p><label for = "perfil"> Perfil del Usuario </label></p> <!--Perfil del Usuario-->
          
          <article id='perfil'>
            <input class = "check" type = "radio" name = "perfil" value = "comprar"> Comprador    
            <input class = "check" type = "radio" name = "perfil" value = "vender"> Vendedor     <br>
          </article>

        </section>
        <section id='intereses'>
          <div>
            <p><label for = "intereses"> Intereses </label></p> <!--Intereses-->
          </div>
          <div>
            <input class = "check" type = "checkbox" name = "intereses" value = "electro"> Electro 
          </div>
          <div>
            <input class = "check" type = "checkbox" name = "intereses" value = "moda"> Moda 
          </div>
          <div>
            <input class = "check" type = "checkbox" name = "intereses" value = "hogar"> Hogar
          </div>
          <div> 
            <input class = "check" type = "checkbox" name = "intereses" value = "jugueteria"> Jugueteria 
          </div>
          <div>
            <input class = "check" type = "checkbox" name = "intereses" value = "vidaSana"> Vida Sana 
          </div>
        </section>
        <section>
          <p><label for = "foto"> Elegí tu foto de usuario </label></p> <!--Elegir foto-->
          <input type = "file" name = "foto"> <br>
        </section>
        <section>
          <input type = "password" placeholder="Contraseña" name = "password"> <br> <!--Contrasenia-->
          <input type = "password" placeholder="Confirmá tu contraseña" name = "passwordConf"><br>
        </section>
        <section>
          <button type = "submit"> Enviar </button> <!--Submit-->
          <button id='borrar' type = "reset"> Borrar </button> 
        </section> 

      </form>
    </main>

    <footer>

      <section>
        <article>
          <i id='iconoFoot' class="fas fa-credit-card fa-2x"></i>
          <h4>Pagá con tarjeta o en efectivo</h4>
          <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivoen puntos de pago. ¡Y siempre es seguro!</p>
        </article>
        
        <article>
          <i id='iconoFoot' class="fas fa-gift fa-2x"></i>
          <h4>Envío gratis desde los $ 2.500</h4>
          <p>Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de productos. Es un beneficio de MercadoPuntos.</p>
        </article>

        <article>
          <i id='iconoFoot' class="fas fa-user-shield fa-2x"></i>
          <h4>Seguridad, de principio a fin </h4>
          <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre prtegid@.</p>
        </article>
      </section>

      <br>

      <p id='copy'>Copyright © 1999-2019 MercadoLiebre S.R.L</p>

      
    </footer>
        
  </body>

</html>